.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.navbar_links_wrapper {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar_links {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.navbar_links_btn {
  color: var(--neutral-gray);
  padding: 0 1rem;
  font-weight: 700;
  cursor: pointer;
}

.navbar_links_btn:hover {
  color: var(--neutral-dark-violet);
}

.btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta_btn {
  cursor: pointer;
  padding: 0 2rem;
  color: var(--neutral-violet);
  font-weight: 700;
}

.cta_btn:hover {
  color: var(--neutral-dark-violet);
}

.cta_btn_signup {
  background: var(--primary-cyan);
  color: #fff;
  border-radius: 40px;
  padding: 0.5rem 1.5rem;
}

.cta_btn_signup:hover {
  background: var(--primary-light-cyan);
  color: #fff;

}
